body,
html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

#icon {
	margin-top: 2em;
	width: 20em;
	border-radius: 50%;
	transition: all 0.6s ease; -webkit-transition: all 0.6s ease;
}

#icon:hover {
	transform: rotate(360deg); -webkit-transform: rotate(360deg);
}

.large_title {
	font-size: 5em;
	color: #979899;
	font-family: 'Lucida Console', Monaco, monospace;
	margin-bottom: 0.1em;
	margin-right: 1rem;
	line-height: 90%;
	transition: all 0.6s ease; -webkit-transition: all 0.6s ease;
}

p {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 1em;
	font-size: 1.4em;
}

.bg {
    /* The image used */
    background-color: #f1f3f2;
    animation: bgchange 5s infinite;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
}

.svg--source {
    display: none;
}

.svg--icon {
    width: 100%;
    max-width: 3rem;
    height: 100%;
    max-height: 3rem;
    display: block;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.share {
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
    color: #524545e3;
    border: 0.125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 30%;
    margin: 1rem;
}

.share:hover {
    transition: 250ms;
    box-shadow: 0 0 24px 0 currentColor;
    fill: currentColor;
}

.share:last-child {
    margin-right: 0;
}

.connect {
    margin-top: 3rem;
}

.github:hover,
.github:focus {
    background: #000000;
}

.linkedin:hover,
.linkedin:focus {
    background: #0e76a8;
}

.gmail:hover,
.gmail:focus {
    background: #d44638;
}
